# IDE configurations
.vs/
.idea/

# Environment files
.venv/

# Output files
__pycache__/
build/
dist/
*.spec

# Project-specific files
docs/examples/

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db